<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>ad-hoc</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>stripSwiftSymbols</key>
  <true/>
  <key>compileBitcode</key>
  <false/>
  <key>destination</key>
  <string>export</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.hookos.wallet</key><string>match AdHoc com.hookos.wallet</string>
    <key>com.hookos.wallet.PriceWidget</key><string>match AdHoc com.hookos.wallet.PriceWidget</string>
    <key>com.hookos.wallet.SelectTokenIntent</key><string>match AdHoc com.hookos.wallet.SelectTokenIntent</string>
    <key>com.hookos.wallet.ImageNotification</key><string>match AdHoc com.hookos.wallet.ImageNotification</string>
    <key>com.hookos.wallet.OpenInHookOS</key><string>match AdHoc com.hookos.wallet.OpenInHookOS</string>
    <key>com.hookos.wallet.ShareWithHookOS</key><string>match AdHoc com.hookos.wallet.ShareWithHookOS</string>
  </dict>
</dict>
</plist>
